<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-firebase-invites"
      version="0.1.0">

    <name>cordova-plugin-firebase-invites</name>
    <description>Cordova plugin for Firebase Invites</description>
    <license>MIT</license>
    <keywords>cordova</keywords>
    <repo>https://github.com/chemerisuk/cordova-plugin-firebase-invites</repo>
    <issue>https://github.com/chemerisuk/cordova-plugin-firebase-invites/issues</issue>

    <engines>
        <engine name="cordova" version=">=6.0.0"/>
        <engine name="cordova-android" version=">=6.0.0"/>
        <engine name="cordova-ios" version=">=4.4.0"/>
    </engines>

    <js-module src="www/FirebaseInvites.js" name="FirebaseInvites">
        <clobbers target="cordova.plugins.firebase.invite" />
    </js-module>

    <preference name="REVERSED_CLIENT_ID"/>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="FirebaseInvites">
                <param name="ios-package" value="FirebaseInvitesPlugin" />
            </feature>
        </config-file>

        <framework src="MessageUI.framework" />

        <header-file src="src/ios/FirebaseInvitesPlugin.h" />
        <source-file src="src/ios/FirebaseInvitesPlugin.m" />

        <framework src="Firebase/Core" type="podspec" spec="~> 5.0"/>
        <framework src="Firebase/Invites" type="podspec" spec="~> 5.0"/>
    </platform>

    <platform name="android">
        <preference name="FIREBASE_INVITES_VERSION" default="16.0.+"/>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FirebaseInvites">
                <param name="android-package" value="by.chemerisuk.cordova.firebase.FirebaseInvitesPlugin" />
            </feature>

            <preference name="REVERSED_CLIENT_ID" value="$REVERSED_CLIENT_ID" />
        </config-file>

        <dependency id="cordova-support-android-plugin" version="~0.4.0"/>
        <dependency id="cordova-support-google-services" version="~1.2.0"/>

        <framework src="com.google.firebase:firebase-invites:$FIREBASE_INVITES_VERSION" />

        <source-file src="src/android/FirebaseInvitesPlugin.java"
            target-dir="src/by/chemerisuk/cordova/firebase/" />
    </platform>

</plugin>